.form__button {
    width: 70px;
    height: 50px;
    background-image: url('../images/Vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: absolute;
    border-radius: 2px;
}