.video-section__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #2A2626;
    text-align: center;
    margin: 0;
    font-family: "Neucha";
    font-style: normal;
}