.header__title {
    color: #2A2626;
    margin: 0;
    font-weight: 400;
    font-size: 72px;
    line-height: 86px;
    margin-left: 165px;
    padding-top: 100px;
    font-family: "Neucha";
    font-style: normal;
}